<h1>Este es tu carrito</h1>

<ul>
	{{#if cart}}
	{{#each cart.products}}
		<li>
				<h2>{{this.product.title}}</h2>
				<p>{{this.product.description}} <p/>
				<p>Price: {{this.product.price}}</p>
				<p>Code: {{this.product.code}}</p>
				<p>Stock: {{this.product.stock}}</p>
				<p>Cantidad: {{this.quantity}}</p>
				<p>Categoría: {{this.product.category}}</p>
		</li>
		<form method="POST" action="http://localhost:8080/api/carts/644d9bd2ec8f54b9724acf3c/products/{{this.id}}">
			<input type="hidden" name="productId" value="{{this.id}}" />
			<button type="submit">Agregar al carrito</button>
		</form>
	{{/each}}
	{{/if}}
</ul>